ul.menu
	-var items = ['Сведения о медицинской организации', 'Информация для пациентов', 'Информация для специалистов', 'Расписание врачей', 'Контактная информация']
	-var blocs = ['#', '#', '#', '#', '#']
	each item, index in items
		if index === 0
			li.menu__item
				a.menu__link.menu__link--dropdown.menu__link--active(href=blocs[index])= item
				ul.menu__dropdown
					each item, index in items
						li.menu__dropdown__item
							if index === 0
								a.menu__dropdown__link.menu__dropdown__link--active(href=blocs[index])= item
							else
								a.menu__dropdown__link(href=blocs[index])= item
		else if index === 1
			li.menu__item
				a.menu__link.menu__link--dropdown(href=blocs[index])= item
				ul.menu__dropdown
					each item, index in items
						li.menu__dropdown__item
							a.menu__dropdown__link(href=blocs[index])= item
		else
			li.menu__item
				a.menu__link(href=blocs[index])= item

