

mixin services(title, desc)
	.services__item
		.services__step
			.services__step__wrapper
		.services__body
			h2.services__title= title
			.services__desc= desc


mixin services--detail(title, desc)
	.services__item.services__item--detail
		.services__step.services__step--detail
			.services__step__wrapper
		.services__body.services__body--detail
			h2.services__title= title
			.services__desc= desc


mixin news(data, title, desc, src)
	.news__item
		.news__item__wrapper
			.news__img
				img(src=src)
			.news__desc__wrapper
				.news__data= data
				h3.news__title
					a.news__link(href="/")= title
				.news__desc= desc
				a.button.button--circle(href="/") Подробнее


mixin news--detail(data, title, desc, url)
	.news__item
		.news__img
			img.news__img__item(src=url, alt=title)
		h3.news__title
			a.news__link(href="news-detail.html")= title
		.news__data= data
		.news__desc= desc
		a.button(href="/new.html") ПОДРОБНЕЕ


mixin sliders(title, desc)
	.item.slider__item
		.owl__slider__item__wrapper
		.container
			.owl__slider__wrapper
				h2.owl__slider__title= title
				.owl__slider__desc= desc
				a.button.button--circle.button--shadow.button--top Подробнее




mixin product(url, title, desc, price)
	.product__item
		img.product__img(src=url, alt=title)
		h2.product__title= title
		.product__desc= desc
		h3.product__price= price



mixin svg-logo
	svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 18 18", class="header__svg")
		path(d="M5 0H3C2.17 0 1.43.34.88.88S0 2.18 0 3v2c0 .82.34 1.57.88 2.12.55.54 1.3.88 2.12.88h2c.82 0 1.57-.34 2.12-.88C7.66 6.58 8 5.82 8 5V3c0-.82-.34-1.57-.88-2.12C6.58.34 5.82 0 5 0zM15 0h-2c-.82 0-1.57.34-2.12.88-.54.55-.88 1.3-.88 2.12v2c0 .82.34 1.57.88 2.12.54.54 1.3.88 2.12.88h2c.82 0 1.57-.34 2.12-.88.54-.54.88-1.3.88-2.12V3c0-.82-.34-1.57-.88-2.12C16.57.34 15.82 0 15 0zM5 10H3c-.82 0-1.57.34-2.12.88C.34 11.42 0 12.18 0 13v2c0 .82.34 1.57.88 2.12.55.54 1.3.88 2.12.88h2c.82 0 1.57-.34 2.12-.88.54-.55.88-1.3.88-2.12v-2c0-.82-.34-1.57-.88-2.12C6.58 10.34 5.82 10 5 10zM15 10h-2c-.82 0-1.57.34-2.12.88-.54.54-.88 1.3-.88 2.12v2c0 .82.34 1.57.88 2.12.54.54 1.3.88 2.12.88h2c.82 0 1.57-.34 2.12-.88.54-.55.88-1.3.88-2.12v-2c0-.82-.34-1.57-.88-2.12-.55-.54-1.3-.88-2.12-.88z")



mixin svg-settings
	svg(version="1.1", class="plus__svg", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink",  viewBox="0 0 504.123 504.123", xml:space="preserve")
		path(d="M486.006,355.446l18.117-10.24c-1.182-6.695-2.757-13.391-5.12-20.086h-20.874l-11.422-20.086l10.634-18.117c-4.332-5.12-9.058-10.24-14.572-14.572l-18.117,10.24l-20.086-11.815v-20.874c-0.394,0-0.788-0.394-1.575-0.394c-5.908-1.969-12.209-3.938-18.511-5.12l-10.634,18.117h-23.237l-10.24-18.117c-6.695,1.182-13.391,2.757-20.086,5.12v20.874l-20.086,11.422l-18.117-10.634c-5.12,4.332-10.24,9.058-14.572,14.572l10.24,18.117l-11.815,20.086h-20.874c-2.363,6.695-4.332,12.997-5.514,19.692l18.117,10.634v23.237l-18.117,10.24c1.182,6.695,2.757,13.391,5.12,20.086h20.874l11.422,20.086l-10.634,18.117c4.332,5.12,9.058,10.24,14.572,14.572l18.117-10.24l20.086,11.815v20.874c0.394,0,0.788,0.394,1.575,0.394c5.908,1.969,12.209,3.938,18.511,5.12l10.634-18.117h23.237l10.24,18.117c6.695-1.182,13.391-2.757,20.086-5.12v-20.874l20.086-11.422l18.117,10.634c5.12-4.332,10.24-9.058,14.572-14.572l-10.24-18.117l11.815-20.086h20.874c2.363-6.695,4.332-12.997,5.514-19.692l-18.117-10.634V355.446z M382.031,435.003c-37.809,0-68.923-30.72-68.923-68.529s30.72-68.923,68.923-68.923c37.809,0,68.923,30.72,68.923,68.529S419.84,435.003,382.031,435.003z")
		path(d="M274.905,240.049c0-7.483-0.394-15.36-1.575-22.843l-22.449-4.726l-8.271-24.418l15.36-17.329c-3.545-6.695-7.877-12.997-12.603-18.905l-22.055,7.483l-19.298-16.935l4.726-22.843c-6.695-3.938-13.391-7.483-20.48-10.24l-14.966,17.329l-25.206-5.12l-7.483-22.055c-7.483,0-15.36,0.394-22.843,1.575l-4.726,22.449l-24.418,8.271l-17.329-15.36c-6.695,3.545-12.997,7.877-18.905,12.603l7.483,22.055l-16.935,19.298l-22.843-4.726c-3.938,6.695-7.483,13.391-10.24,20.48l17.329,15.36l-5.12,25.206L0,233.748c0,7.483,0.394,15.36,1.575,22.843l22.843,4.726l8.271,24.418l-15.36,17.329c3.545,6.695,7.877,12.997,12.603,18.905l22.055-7.483l19.298,16.935l-5.12,22.843c6.695,3.938,13.391,7.483,20.48,10.24l15.36-17.329l25.206,5.12l7.483,22.055c7.483,0,15.36-0.394,22.843-1.575l4.726-22.449l24.418-8.271l17.329,15.36c6.695-3.545,12.997-7.877,18.905-12.603l-7.483-22.055l16.935-19.298l22.843,4.726c3.938-6.695,7.483-13.391,10.24-20.48l-17.329-15.36l5.12-25.206L274.905,240.049L274.905,240.049z M137.452,312.911c-42.142,0-76.406-34.265-76.406-76.406s34.265-76.406,76.406-76.406s76.406,34.265,76.406,76.406S179.594,312.911,137.452,312.911z")
		path(d="M456.862,125.046l16.542-6.695c-0.394-5.908-1.182-11.815-2.363-17.723l-17.723-2.363l-7.483-18.511l11.028-14.178c-3.151-5.12-6.695-9.846-10.634-14.178l-16.542,6.695l-15.754-12.209l2.363-17.723l-1.182-0.788c-5.12-2.363-10.24-4.726-15.36-6.302l-11.028,14.178l-19.692-2.757l-6.695-16.935c-5.908,0.394-11.815,0.788-17.723,1.969l-2.363,17.723l-18.905,7.877L309.17,32.098c-5.12,3.151-9.846,6.695-14.178,10.634l6.695,16.542l-12.209,15.754l-17.723-2.363c-2.757,5.12-5.12,10.634-7.089,16.542l14.178,11.028l-2.757,19.692l-16.542,6.695c0.394,5.908,1.182,11.815,2.363,17.723l17.723,2.363l7.483,18.511l-11.028,14.178c3.151,5.12,6.695,9.846,10.634,14.178l16.542-6.695l15.754,12.209l-2.363,17.723l1.182,0.788c5.12,2.363,10.24,4.726,15.36,6.302l11.028-14.178l19.692,2.757l6.695,16.542c5.908-0.394,11.815-0.788,17.723-2.363l2.363-17.723l18.511-7.483l14.178,11.028c5.12-3.151,9.846-6.695,14.178-10.634l-6.695-16.542l12.209-15.754l17.723,2.363c2.757-5.12,5.12-10.634,7.089-16.542l-14.178-11.028C453.711,144.345,456.862,125.046,456.862,125.046z M366.671,183.335c-33.871,0-61.046-27.175-61.046-61.046s27.175-61.046,61.046-61.046s61.046,27.175,61.046,61.046S400.542,183.335,366.671,183.335z")


mixin svg-time
	svg(version="1.1", class="plus__svg", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 0 612 612", xml:space="preserve")
		path(d="M583.728,375.793c-12.316,124.001-112.79,223.666-236.88,235.068C200.16,624.34,75.077,516.49,60.568,376.312H34.716c-15.717,0-25.54-17.016-17.68-30.626l57.818-100.122c7.859-13.609,27.503-13.608,35.361,0.001l57.807,100.122c7.858,13.611-1.965,30.625-17.681,30.625h-22.506c14.621,104.659,112.057,183.152,223.772,166.778c82.667-12.115,149.722-77.336,163.773-159.697c21.031-123.271-73.829-230.558-193.271-230.558c-38.734,0-76.119,11.238-108.233,32.519c-14.904,9.876-35.564,7.922-46.498-6.223c-11.905-15.402-8.188-37.389,7.687-48.109c34.455-23.276,73.515-37.822,114.438-42.887V50.184h-26.784c-9.215,0-16.686-7.47-16.686-16.686V16.686C246.033,7.47,253.503,0,262.719,0H386.93c9.215,0,16.686,7.47,16.686,16.686v16.812c0,9.215-7.47,16.686-16.686,16.686h-29.502v38.347C494.28,106.996,598.102,231.062,583.728,375.793z M592.37,123.265L542.058,76.76c-6.768-6.255-17.324-5.84-23.58,0.927l-13.309,14.399c-6.256,6.767-5.841,17.324,0.927,23.58l50.312,46.504c6.768,6.254,17.324,5.84,23.58-0.927l13.309-14.399C599.553,140.077,599.138,129.52,592.37,123.265z M321.318,187.139v163.194h161.565C482.885,250.949,407.481,187.139,321.318,187.139z")

mixin svg-idea
	svg(version="1.1", class="plus__svg" xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 0 54 54", xml:space="preserve")
		path(d="M27,6c0.553,0,1-0.447,1-1V1c0-0.553-0.447-1-1-1s-1,0.447-1,1v4C26,5.553,26.447,6,27,6z")
		path(d="M51,24h-4c-0.553,0-1,0.447-1,1s0.447,1,1,1h4c0.553,0,1-0.447,1-1S51.553,24,51,24z")
		path(d="M7,24H3c-0.553,0-1,0.447-1,1s0.447,1,1,1h4c0.553,0,1-0.447,1-1S7.553,24,7,24z")
		path(d="M43.264,7.322l-2.828,2.828c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l2.828-2.828c0.391-0.391,0.391-1.023,0-1.414S43.654,6.932,43.264,7.322z")
		path(d="M12.15,38.436l-2.828,2.828c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l2.828-2.828c0.391-0.391,0.391-1.023,0-1.414S12.541,38.045,12.15,38.436z")
		path(d="M41.85,38.436c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l2.828,2.828c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L41.85,38.436z")
		path(d="M12.15,11.564c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414l-2.828-2.828c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L12.15,11.564z")
		path(d="M27,13c-6.617,0-12,5.383-12,12c0,0.553,0.447,1,1,1s1-0.447,1-1c0-5.514,4.486-10,10-10c0.553,0,1-0.447,1-1S27.553,13,27,13z")
		path(d="M27,8c-9.374,0-17,7.626-17,17c0,7.112,4.391,13.412,11,15.9V43v7c0,0.553,0.447,1,1,1h1v2c0,0.553,0.447,1,1,1h6c0.553,0,1-0.447,1-1v-2h1c0.553,0,1-0.447,1-1v-7v-2.1c6.609-2.488,11-8.788,11-15.9C44,15.626,36.374,8,27,8z M31.688,39.242C31.277,39.377,31,39.761,31,40.192V42h-8v-1.808c0-0.432-0.277-0.815-0.688-0.95C16.145,37.214,12,31.49,12,25c0-8.271,6.729-15,15-15s15,6.729,15,15C42,31.49,37.855,37.214,31.688,39.242z")